@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

/* This is the base template file - please use the supplied slides to experiment */
* {box-sizing: border-box;}
.container{
    display: flex;
    flex-wrap: wrap;
    min-width: 100vh;
    background-color: chartreuse;
    width: 100%;
    /* flex-direction: row; */
    flex-direction: column;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */ 
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    align-items: center;
    align-content: space-between;

    
}
.box {
    color: white;
    display: flex;
    font-size: 100px;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    padding: 15px;
}

/* Colours for each box */
.box1 { 
    background:#eccc68;
    /* flex-basis: 100px;
    flex-grow: 5;
    flex-shrink:1; */
}
.box2 { 
    background:#ff6348;
    /* flex-basis: 100px;
    flex-grow: 4;
    flex-shrink:1 ; */
}
.box3 { 
    background:#ff7f50;
    /* flex-basis: 100px;
    flex-grow: 3;
    flex-shrink:1 ; */
}
.box4 { 
    background:#ff4757;
    flex-basis: 100px;
    /* flex-grow: 2;
    flex-shrink:1 ; */
}
.box5 { 
    background:#f1c40f;
    /* flex:100px 1 1; */
}
.box6 { 
    background:#e67e22;
}
.box7 { 
    background:#2ed573;
}
.box8 { 
    background:#1e90ff;
}
.box9 { 
    background:#c56cf0;
}
.box10 { 
    background:#18dcff;
}